body {
    background-color: #507ba3;
    color: #fff;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: center;
}

#calculator {
    border:1px solid white;
    width: 600px;
    height: 800px;
}